

<div class="parallax">
    <span style="width:100%; position:absolute" class="card-title center-block blue-grey darken-5">PiPrestaciones</span>

</div>
<div id="titulo">
    <h3 class="title white-text" >
        PiPrestaciones
    </h3>

</div> 


<div id="menu">
    @*<div class="row">
        <div class="col s12 m12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span style="width:100%" class="card-title center-block blue-grey darken-5">PiPrestaciones</span>

                </div>

            </div>
        </div>
    </div>*@


    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Gestionar Aplicaciones</span>
                    <p>
                        Defina aplicaciones, sus datos así como su estilo
                    </p>
                </div>
                <div class="card-action">
                    <a href="@Url.Action("Create","Aplicaciones")">
                       Alta de Aplicaciones <i class="material-icons right"> input</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Gestionar Pantallas Estáticas</span>
                    <p>
                        Defina y modifique pantallas estáticas
                    </p>
                </div>
                <div class="card-action">
                    <a href="@Url.Action("Create","PantallaEstaticas")">
                        Pantallas estáticas <i class="material-icons right"> input</i>
                    </a>
                </div>
            </div>
        </div>



    </div>

</div>


@*<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-image">
                <img style="height:25em;" src="~/Resources/banner.jpg">
                <span  style="width:100%" class="card-title  blue-grey darken-5">PiPrestaciones</span>
            </div>
            <div class="card-content  blue-grey darken-1">
                <p class="white-text">
                    Bienvenido a la administración de Pi Prestaciones 
                </p>
            </div>
            <div class="card-action">
              
            </div>
        </div>
    </div>
</div>*@


@*<div class="jumbotron">
    <h2>Pi Prestaciones
    
    </h2>
    <img class="left"src="~/Resources/brand.png" />
    
</div>*@





<style>
    h3 {
        margin: 0 0 0 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    #titulo {
        background-size: cover;
        position: relative;
        margin-top: 10%;
        height: 100%;
        background-color: rgba(171,166,166, 0.2);
        font-weight:bold;
        background-size: cover;
        margin-right: 0;
    }
    #menu {
        background-size:cover;
    position:relative;
    margin-top:15%;
    /*float:left;*/
    }
    .container {
    width:100%;
    margin:unset;
    }
    .parallax {
        /* The image used */
        background-image: url("/Resources/banner.jpg");
        /* Set a specific height */
        height: 50%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: optimizeQuality;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .index {
        margin-bottom: 2em;
        position: absolute;
        left: 3em;
        color: white;
    }

    .index-menu {
        position: relative;
        color: #4b3c33;
        margin-top: 300px;
        /*bottom:15em;*/
    }

    .index-menu-item {
        margin-left: 3em;
    }
</style>