#menu-top:hover{
    text-decoration: none !important;
    background-color: #eeeeee !important;
}


.tabs-title {
   background-color: rgba(171,166,166, 0.9);
    
    /*background-image:url("");
background-repeat:no-repeat;*/
    color: white;
  
    text-align: center;
}

.container {
    /*padding-top:4em;*/
    width: 90%;
    max-width: unset;
}

.cancel-modal {
position:sticky;
right:0;
top:0;
}
#content-page {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#nav-top {
    background-color: #0e68ce !important;
    color: white;
    border-bottom: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#nav-page-name {
    color: white;
}

.blue-top {
    background-color: #0e68ce !important
}

.color-picker {
}

.container-color-picker {
    position: relative;
}

.prev-color {
    position: absolute;
    right: 0px;
    bottom: 1em;
}

#logo {
    position: static;
    width: 32px;
    height: 32px;
}

#index-container {
    background-image: url(../Resources/banner-consultores-fondo.png);
    height: 50rem;
    width: auto;
}

.card-action{
    padding:0px !important;
}

a.btn.btn-block {
    height: 3rem;
}


.container .row {
    margin:auto;
}

.btn-add {
border-radius:2em;
}