
<div align="center">
    <br />
    <button class="cancel-modal btn-floating right red"><i class="material-icons">clear</i></button>


    <div class="row">
        <h3></h3>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="input-field">
                <label for="titulo-edit-menu">Texto del botón</label>
                <input type="text" id="titulo-edit-menu" />
            </div>
        </div>
        <div class="col s6">
            <div class="input-field col s8">
                <label for="backColor-edit-menu">Fondo del boton</label>
                <input type="text" id="backColor-edit-menu" />
            </div>
            <div class="col s4">
                <div class="btn-floating" id="seleccion-back-color"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h5>Seleccionar icono</h5>
            @Html.Partial("_SelectorIonIcons")
            <input type="text" hidden id="icon-edit-menu" />
        </div>
        <div class="col s6">
            <h5>Arrastre aquí la imagen de fondo</h5>

            @Html.Partial("_DropZone")


        </div>


    </div>

</div>

<script>
    $(document).ready(function () {
        $(".cancel-modal").click(function () {

            $('#modal1').modal('close');
        });


        $('#backColor-edit-menu').colorpicker();

        $("#backColor-edit-menu").on("change", function () {

            //debugger;
            var backGround = $(this).val()
            $("#seleccion-back-color").css("background-color", backGround);
            //$("#acciones-agregadas").css("background-color", backGround);

        });

        $("#seleccion-back-color").click(function () {
            $('#backColor-edit-menu').focus();
        });

        $(".icon-ionic").click(function () {
            var icon = $(this);
            var iconClass = icon.attr("class").split(" ");
            $("#icon-edit-menu").val(iconClass[3]);
        });

        $("#eliminar-icon").click(function () {
            $("#icon-edit-menu").val("")

        });





    });





</script>
