

<div align="center">
    <br />
    <button class="cancel-modal btn-floating right red"><i class="material-icons">clear</i></button>
  
   
    <div class="row">
        <h3>

        </h3>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="input-field">
                <label>Titulo</label>
                <input />
            </div>         
        </div>       
        <div class="col s6">
            <div class="col s8">
                <label>Back Color</label>
                <input id="menu-back-color" />
            </div>
            <div class="col s4">
                <div class="btn-floating" id="seleccion-back-color"></div>
            </div>
        </div>
    </div>
   <div class="row">
       @Html.Partial("_SelectorIonIcons")
   </div>

</div>

<script>
    $(document).ready(function () {
        $(".cancel-modal").click(function () {
            
            $('#modal1').modal('close');
        });

    });

</script>